<div class="container"
>
    <div class="container_tasks">
        <h3>Tareas</h3>
        <div class="tarea_text">
            <div class="example-box" cdkDrag>
                Drag me around
            </div>
        </div>
    </div>

    <div>
        <div class="container_InProcces">
            <h3>En Proceso</h3>
            <div class="proceso_text">
                <div class="example-box" cdkDrag>
                    Drag me around
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="conatiner_finish">
            <h3>Finalizado</h3>
            <div class="proceso_text">
                <div class="example-box" cdkDrag>
                    Drag me around
                </div>
            </div>
            
        </div>
    </div>


</div>

